@import '@fontsource/fira-mono';

:root {
	--font-body: "Space Mono", monospace;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #0F1A20;
	--color-theme-2: #F42C04;
	--color-text: #FAF6F6;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
	background-color: var(--color-theme-1);
	overflow: hidden;
}

.app {
	min-width: 100vw;
	min-height: 100vw;
	width: auto;
	height: auto;
}


main {
	height: auto;
	min-height: 80vh;
}


a {
	text-decoration: none;
	color: var(--color-theme-2);
	font-weight: 600;
}

a:hover {
	text-decoration: underline;
}


footer {
	display: flex;
	justify-content: center;
	align-items: center;
}